.companion_card {
    width: 80%;
    margin: 3rem auto;
}

.inputs {
    display: block;
    width: 60%;
    margin: 1rem auto;
    text-align: center;
    border: none;
    padding: 1rem;
}

.details {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 30%;
    text-align: center;
}

.chatbtn {
    background-color: azure;
    border: none;
    outline: none;
}