.main_container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.left_section {
    width: 50%;
    margin: 1rem;
}

.top_section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.right_section {
    height: 50vh;
}

.header {
    font-size: 2rem;
    text-align: center;
}

.bottom_table {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}