.container {
  /* padding-top: 5rem; */
  margin: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: auto;
  padding: 1rem;
}

.search input[type="text"] {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1.2rem;
}

.search input[type="text"] {
  background-color: white;
  width: 25rem;
  height: 50px;
}

.search_btn {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: rgb(212, 171, 36);
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 1rem;
}

.search_btn:hover {
  background-color: rgb(114, 96, 17);
}

.contents {
  display: flex;
  justify-content: space-evenly;
}

.header {
  font-size: 2rem;
}

.filter_section {
  width: 30%;
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  flex-direction: row;
  column-gap: 3rem;
}
.food_section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.loginbtn {
  background-color: rgb(212, 171, 36);
  margin-top: 2rem;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 20px;
  font-weight: 600;
  color: white;
  font-size: 16px;
}
.loginbtn:hover {
  background-color: rgb(114, 96, 17);
}
.main_container {
  padding-top: 2rem;
  text-align: center;
}
