.container {
    text-align: center;
    padding: 2rem;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    padding: 1rem;
}

.search input[type='text'] {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 1rem;
    font-size: 1.2rem;
}

.search input[type='text'] {
    background-color: white;
    width: 25rem;
    height: 50px;
}

.unique {
    display: flex;
    /* background-color: white; */
}

.items {
    margin: 1rem;
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.images {
    height: 200px;
    width: auto;
}

.carsection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.car_card {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.bookbtn {
    padding: 1rem;
    background-color: rgb(54, 156, 151);
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 1rem;
    margin: 1rem;
}
.bookbtn:hover
{
    background-color: rgb(34, 92, 89);
}
.search_btn {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: rgb(54, 156, 151);
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 1rem;
}
.search_btn:hover
{
    background-color: rgb(34, 92, 89);
}
.sold
{
    font-weight: 600;
    font-size: 20px;
    color: rgb(117, 43, 43);
    padding: 1rem;
    font-weight: 600;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 1rem;
}
.car_name
{
    font-weight: 800;
    font-size: 20px;
    color: rgb(42, 124, 120);
    font-weight: 600;
    font-size: 23px;
    border: none;
    outline: none;
    margin: 1rem;
}