.container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.profile__logout {
  background-color: rgb(54, 156, 151);
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 20px;
  font-weight: 600;
  color: white;
  font-size: 16px;
}

.profile__logout:hover {
  background-color: rgb(34, 92, 89);
}

.main_container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.left_section {
  width: 50%;
  margin: 1rem;
}

.top_section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.right_section {
  height: 50vh;
}

.header {
  font-size: 2rem;
  text-align: center;
}

.bottom_table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.row {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main_row {
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}
