.container {
  margin: 0 auto;
  max-width: 1200px;
}

.nav {
  background-color: #222222;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.nav .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav a {
  color: #ffffff;
  padding: 7px 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000000;
}

.nav.active .container {
  padding: 10px 0;
}

.loginbtn {
    background-color: rgb(205, 232, 223);
    padding: .5rem;
    border: none;
    outline: none;
    margin-left: 1rem;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
    width: max-content;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}
