.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  background-color: white;
  padding:10px;
  height: 100px;
  width:380px;
  border-radius: 20px;
}
.content {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
}
